<% if (title == 'Create Document') { %>
    <div class="col-sm-8">   
      <div class="jumbotron">
        <h3>Create Document</h3>
        <% if (typeof alert != 'undefined') { %>
          <% alert.forEach(function(error) { %>
              <div class="alert alert-warning alert-dismissible show" role="alert">
                  <%= error.msg %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          <% }); %>
        <% } %>
          <form action="" method="post">
            Subject:<br>
            <input type="text" name="subject" placeholder="Subject">
            <br><br>
            Description:<br>
            <input type="text" name="description" placeholder="Description">
            <br><br>
            Employee:<br>
            <select name="employee_id">
              <% employees.forEach(function(employee) { %>
                <option value="<%= employee.id %>"><%= employee.username %></option>
                <br>
              <% }); %>
            </select>
            <br><br>
            Type:<br>
            <% types.forEach(function(type) { %>
              <input type="radio" class="selectType" name="type_id" value="<%= type.id %>">
              <label for="<%= type.id %>"><%= type.type_name %></label>
              <br>
            <% }); %>
            <br><br>
            Application:<br>
            <select name="application_id">
              <% applications.forEach(function(application) { %>
                <option value="<%= application.id %>"><%= application.app_name %></option>
                <br>
              <% }); %>
            </select>
            <br><br>
            Status: <br>
            <select name="status_name">
              <option value="Draft" selected="selected">Draft</option>
              <option value="Completed">Completed</option>
            </select>
            <br><br>
            Category:<br>
            <% categories.forEach(function(category) { %>
              <input type="checkbox" class="categoryCheckbox" name="categories" id="<%= category.id %>" value="<%= category.id %>">
              <label for="<%= category.category_name %>">
              <%= category.category_name %>
            </label>
            <% }); %>
            
            <br><br>
            <input type="submit" value="Create Document" onclick="checkCat()">
          </form>
      </div>
  </div>
  <% } else if (title == 'Update Document') { %>
    <div class="col-sm-8">    
      <div class="jumbotron">
          <form action="" method="post">
              Subject:<br>
              <input type="text" name="subject" value="<%= document.subject %>">
              <br><br>
              Description:<br>
              <input type="text" name="description" value="<%= document.description %>">
              <br><br>
              Employee:<br>
              <select name="employee_id">
                <% employees.forEach(function(employee) { %>
                  <option value="<%= employee.id %>"><%= employee.username %></option>
                  <br>
                <% }); %>
              </select>
              <br><br>
              Type:<br>
              <% types.forEach(function(type) { %>
                <input type="radio" name="type_id" value="<%= type.id %>">
                <label for="<%= type.id %>"><%= type.type_name %></label>
                <br>
              <% }); %>
              <br><br>
              Application:<br>
              <select name="application_id">
                <% applications.forEach(function(application) { %>
                  <option value="<%= application.id %>"><%= application.app_name %></option>
                  <br>
                <% }); %>
              </select>
              <br><br>
              Category:<br>
              <select name="category_id">
                <% categories.forEach(function(category) { %>
                  <option value="<%= category.id %>"><%= category.category_name %></option>
                  <br>
                <% }); %>
              </select>
              <input type="submit" value="Update Document">
          </form>
      </div>
  </div>
  <% } else if (title == 'Document List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% documents.forEach(function(document) { %>
                <li>
                    <h4 class="text-capitalize"><a href="/document/<%= document.id %>"><%= document.subject %></a></h4>
                     <a href="/document/<%= document.id %>/update">Edit  Document</a> | <a href="/document/<%= document.id %>/delete">Delete Document</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    <br><br>
    <a href="/document/create">
      CREATE NEW DOCUMENT
    </a>
    </div>
  <% } else if (title == 'Document Details') { %>
    <div class="col-sm-8">
      <div class="">
        <h4>Details of <%= document.subject %>: </h4>
        <p>ID: <%= document.id %></p>
        <p>Subject: <%= document.subject %> </p>
        <p>Description: <br><%= document.description %></p>
        <p>Employee: <%= document.Employee.first_name %> <%= document.Employee.last_name %></p>
        <p>Type: <%= document.Type.type_name %></p>
        <p>Application: <%= document.Application.app_name %></p>
        <p>Categories: <br>
          <% document.categories.forEach(function(category) { %>
            <a>
              <%= category.category_name %>,
            </a>
          <% }); %>
        </p>
        <p>Status: <%= document.Status %></p>
        <span>
          <a href="/document/<%= document.id %>/change_status">CHANGE STATUS</a>
        </span>
        <br>

        <% if (document.Employee.role == "manager" || document.Employee.role == 'editor') { %>
          <a href="/document/<%= document.id %>/update">Edit  Document</a> | <a href="/document/<%= document.id %>/delete">Delete Document</a>
        <% } else { %>

        <% }; %>
        
      </div>
    </div>

    <h3>Leave a Comment</h3>
    <form action="/comment/create" method="POST">
      Comment Title:<br>
        <input type="text" name="subject" placeholder="Title">
        <br><br>
      Comment Body:<br>
      <textarea name="description" placeholder="Leave comment here... "></textarea>
      <br><br>
      <input type="submit" value="Create Comment">
    </form>

  <% } else if (title == 'Change Status') { %>
    <div class="col-sm-8">
        <div class="">
            <h3>Change Status</h3>
            <form action="" method="POST">
              <select name="status_name">
                  <option value="<%= document.status_name %>"><%= document.status_name %></option>
                  <option value="Draft">Draft</option>
                  <option value="Completed">Completed</option>
                  <br><br>
                  <input type="submit" value="Change Status">
              </select>
                <!-- <input type="text" name="status_name" value="<% document.status_name %>"> -->
                
            </form>
        </div>
    </div>
        
  <% } else { %>

  <% }; %>

  <script>
    function checkCat() {
      var checkBoxes = document.getElementsByClassName('categoryCheckbox');
      var isChecked = false;
      for (var i = 0; i < checkBoxes.length; i++) {
        if (checkBoxes[i].checked) {
          isChecked = true;
        };
      };
      if (isChecked) {
      } else {
        alert('Please, check at least one Category checkbox!');
      }
    }


  </script>
   
  