<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total documents in database is <%= documentCount.count %></p>
    <p>Total employees in database is <%= employeeCount.count %></p>
    <p>Total applications in database is <%= applicationCount.count %></p>
    <p>Total types in database is <%= typeCount.count %></p>
    <p>Total categories in database is <%= categoryCount.count %></p>

</div>